Source: freenet-router-web-legacy
Section: unknown
Priority: extra
Maintainer: Karel Picman <karel.picman@lbcfree.net>
Homepage: https://redmine.lbcfree.net/projects/freenet-router-web-legacy
Package: freenet-router-web-legacy
Version: 1.1 
Architecture: all
Conflicts: freenet-router-web
Depends: ssl-cert, apache2, php, freenet-router, freenet-router-auth, rrdtool, php-gd, ethtool, sysv-rc-conf
Description: Legacy web interface for a full control of the Freenet router
